<section class="flex flex-wrap text-white bg-[#1abc9c] items-center justify-center min-h-[90vh] mt-[86px]">
    <div class="container">
        <div class="px-12">
            <h2 class="uppercase text-4xl font-bold mb-4 text-center">about component</h2>
            <app-line-break [bgColor]="'white'"></app-line-break>
            <div class="md:flex">
                <p class="mb-2 px-3">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                <p class="mb-2 px-3">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            
        </div>
    </div>
    
    
</section>
