

<div class="min-h-[90vh] mt-[86px] bg-[#1abc9c]">
    <div class="flex flex-wrap justify-center items-center flex-col text-white pt-16">
        <div class="img-container w-72 pb-4">
            <img src="./assets/avataaars.svg" class="w-full" alt=" avatar-img">
        </div>
    
        <h2 class="uppercase text-4xl font-bold mb-4">start framework</h2>
        <app-line-break [bgColor]="'white'"></app-line-break>
        <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
</div>


